<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="bootstrap.css">
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Purchase Report</title>
</head>
<body>
<h3>
<center>
    <a href ="/">ALL | </a>

    <a href="/?category=Furniture">Furniture | </a>

    <a href="/?category=Alcohol">Alcohol | </a>

    <a href="/?category=Toiletries">Toiletries | </a>

    <a href="/?category=Shoes">Shoes | </a>

    <a href="/?category=Food">Food | </a>

    <a href="/?category=Jewelry">Jewelry</a>
</center>
</h3>
<br>
<br>
<center>
    <table>
        <thead>
        <th>Name</th>
        <th></th>
        <th>Email</th>
        <th></th>
        <th>Category</th>
        <th></th>
        <th>Credit Card</th>
        <th></th>
        <th>CCV</th>
        <th></th>
        <th>Date</th>
        <th></th>
        </thead>

        {{#purchases}}
        <tr>
            <td>{{customer.name}}</td>
            <td></td>
            <td>{{customer.email}}</td>
            <td></td>
            <td>{{category}}</td>
            <td></td>
            <td>{{creditCard}}</td>
            <td></td>
            <td>{{ccv}}</td>
            <td></td>
            <td>{{date}}</td>
            <td></td>
        </tr>
        {{/purchases}}
    </table>
    <br>
    <br>
    {{#showPrevious}}
    <a href="/?page={{previousPage}}{{#category}}&category={{.}}{{/category}}">Previous Page</a>
    {{/showPrevious}}

    {{#showNext}}
     <a href="/?page={{nextPage}}{{#category}}&category={{.}}{{/category}}">Next Page</a>
    {{/showNext}}


</center>


</body>
</html>