<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Report</title>
</head>
<body>
<a href ="/">ALL</a>
<a href="/?category=Furniture">Furniture</a>
<a href="/?category=Alcohol">Alcohol</a>
<a href="/?category=Toiletries">Toiletries</a>
<a href="/?category=Shoes">Shoes</a>
<a href="/?category=Food">Food</a>
<a href="/?category=Jewelry">Jewelry</a>

{{#customers}} {{name}} {{email}} {{/customers}} {{#purchases}} {{category}} {{creditcard}} {{ccv}} {{date}} {{/purchases}}

</body>
</html>